footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='#') Về chúng tôi
    li: a(href='#') Tải ứng dụng cho website này
    li: a(href='#') Địa chỉ: Quỳnh Lưu
    li: a(href='#') Trải nghiệm
    li: a(href='#') Thông tin về thanh toán
  p.footer__copyright &copy; Mẫu giao diện học thiết kế trên Udemy, Website xây dựng bởi Bùi Truyền